@charset "UTF-8";
body {
  font-family: Helvetica; }

/*flex*/
.cn-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.space-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/*before && after*/
.sanjiao:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-width: 4px 4px 4px 4px;
  border-style: solid;
  border-color: #AAB4C2 transparent transparent transparent; }

/*width*/
.width100 {
  width: 100%; }

/*padding && margin*/
.padding0 {
  padding: 0; }

.padding10 {
  padding: 10px; }

.padding20 {
  padding: 20px; }

.pl10 {
  padding-left: 10px; }

.pr10 {
  padding-right: 10px; }

.pt10 {
  padding-top: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pt15 {
  padding-top: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pt44 {
  padding-top: 44px; }

.pt88 {
  padding-top: 88px; }

.margin20 {
  margin: 20px 0; }

.mlr20 {
  margin: 0px 20px; }

.m10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.ml10 {
  margin-left: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.m15 {
  margin: 15px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.ml15 {
  margin-left: 15px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mlr15 {
  margin: 0px 15px; }

.mt30 {
  margin-top: 30px; }

.mt48 {
  margin-top: 48px; }

.mt100 {
  margin-top: 100px; }

/*font-color*/
.blue {
  color: #32B7F0; }

.fuzhu {
  color: #B8C1CE; }

.ciyao {
  color: #858586; }

.light-blue {
  color: #9fdcf7; }

.cl-white {
  color: #fff; }

.cl-gray {
  color: #7F8389 !important; }

.cl-light-gray {
  color: #bbb; }

.cl-shoucang {
  color: #7AD5C2; }

/*位置*/
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.bottom20 {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0; }

/*bg-color*/
.bg-blue {
  background-color: #32B7F0;
  color: #fff; }

.bg-gray {
  background-color: #F5F9FC;
  color: #7F8389; }

.bg-light-gray {
  background-color: #F2F4F7; }

.bg-white {
  background-color: #fff; }

/*border*/
.br-gray {
  border: 1px solid #DEDFE0; }

.br-top-gray {
  border-top: 1px solid #F2F4F7; }

.br-left-gray {
  border-left: 1px solid #F2F4F7; }

.br-bottom-gray {
  border-bottom: 1px solid #F2F4F7; }

/*font-size*/
.fs-larger {
  font-size: 24px; }

.fs-first {
  font-size: 17px; }

.fs-large {
  font-size: 16px; }

.fs-normal {
  font-size: 15px; }

.fw-bold {
  font-weight: bold; }

.fw-normal {
  font-weight: normal; }

.fs-smaller {
  font-size: 12px; }

.fs-small {
  font-size: 14px; }

.fs-smll {
  font-size: 12px; }

/*align*/
.align-l {
  text-align: left; }

.align-r {
  text-align: right; }

.align-c {
  text-align: center; }

/*input*/
.bg-input {
  padding: 8px 15px;
  background: #fff;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .bg-input input {
    padding: 5px 0px;
    font-size: 16px;
    outline: none;
    height: 34px; }

/*imgges*/
.preview-image {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000; }
  .preview-image .images-header {
    position: absolute;
    width: 100%;
    top: 0;
    padding-right: 20px;
    z-index: 10;
    color: #FFF;
    line-height: 44px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    text-align: right; }
    .preview-image .images-header i {
      font-size: 20px; }
  .preview-image .images-footer {
    position: absolute;
    width: 100%;
    bottom: 100px;
    z-index: 10;
    color: #FFF;
    text-align: center; }
  .preview-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }
  .preview-image a {
    display: block;
    width: 30%;
    height: 44px;
    line-height: 44px;
    background-color: transparent;
    text-align: center;
    margin: 44px auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 18px;
    color: #FFF; }

/*btn*/
.btn {
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #32B7F0;
  border-radius: 2px;
  font-size: 18px;
  text-decoration: none;
  margin: 20px 0; }

.gray-but {
  background: #B8C1CE; }

.btn-border-no {
  opacity: 0.5; }

.btn-border {
  width: 100%;
  height: 44px;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-size: 18px;
  color: #FFF; }

/*移除按钮*/
.delete-but {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #F56767;
  text-decoration: none;
  background: #DBDFE6;
  border-radius: 3px;
  height: 44px; }

/*header*/
.wei-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  line-height: 44px;
  background: #32B7F0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px; }
  .wei-bar .wei-action-back {
    color: #fff; }
  .wei-bar ul li {
    list-style: none;
    display: inline-block; }
    .wei-bar ul li a {
      padding-bottom: 10px; }
  .wei-bar .wei-action-more {
    color: #fff; }

.tb-bg {
  background-image: url(../images/tab-bg.png);
  background-size: 0.56rem 0.18rem;
  background-repeat: no-repeat;
  background-position: center bottom; }

/*select*/
.select-subject {
  background-image: url(../images/select.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 1rem 1rem; }

.line:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  background-color: #f2f2f2; }
  .line:after:last-child:after {
    background-color: transparent; }

.spinner {
  width: 100%;
  height: 60px;
  position: relative;
  margin: 0 auto;
  /*background-color: rgba(51,51,51,0.3);*/ }

.double-bounce1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px; }

.double-bounce2 {
  width: 50%;
  height: 100%;
  font-size: 12px;
  line-height: 60px;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 50%; }

.teacher-mask {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.3); }

.teacher-loadmask {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3); }
  .teacher-loadmask img {
    position: fixed;
    z-index: 1;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px; }

.icon-wodeshoucang {
  color: #7AD5C2 !important; }

.icon-dianzan {
  color: #FF6767 !important; }
